body, html {
    font: 18px 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100%;
    background-color: #e2ebf2;
    top:0;
    bottom:0;
    left:0;
    right:0;
    position:fixed;
}

::placeholder {
    color: white;
    /*opacity: ;  Firefox */
}
:-ms-input-placeholder {
    color: white;
}
::-ms-input-placeholder {
    color: white;
}

input[type="search"] {
    -webkit-appearance: textfield;
}

.topBar {
    float: left;
    background-color: #3d92d0;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.dBImage{
    width: 16px;
}

.topBar a {
    text-decoration: none;
}

.topBar .topBarText {
    color: white;
    /*! padding: 6px 0px 0px 0px; */
}
.imageNumberSearch{
    color: white;
    background-color: #62a7d9;
    border: none;
    padding: 3px 5px;
    font-size: medium;
}

.topBar .topBarButton {
    border: none;
    font: inherit;
    padding: 6px 36px 6px 36px;
    width: max-content;
    cursor: pointer;
    color: white;
    background-color: #3d92d0;
}

.topBar .topBarButton:hover {
    background-color: #2d80bc;
}

.bottomTopBar{
    float: left;
    display: flex;
    align-items: center;
}

.basicPictureInfoArea{
    float: left;
    background-color:#e2ebf2;
    display: flex;
    justify-content: space-between;
    width: 75%;
    align-items: center;
}

.basicPictureInfoArea button {
    flex-grow: 2;
    font-size: inherit;
    cursor: pointer;
    background-color: #e2ebf2;
    padding: 13px 15px;
    border: none;
}
.basicPictureInfoArea button:hover {
    background-color: #cadae6;
}

.basicPictureInfoArea .buttonNextSwipe, .basicPictureInfoArea .buttonPreviousSwipe {
    background-color: #cadae6;
}

.basicPictureInfo {
    background-color:#e2ebf2;
    display: flex;
    justify-content: center;
    /*padding-bottom: 4px;*/
}
.basicPictureInfo div {
/*margin: 4px 14px 0px 14px;*/
padding: 0px 10px;
text-align: center
}

.slideMenuControls {
    background-color: #e2ebf2;
    float: left;
    width: 25%;
    display: flex;
    flex-wrap: wrap;
}
.slideMenuControls div {
    display: flex;
    justify-content: flex-end;
    flex-direction: row-reverse;
}

.slideMenuControls button {
    flex-grow: 2;
    font-size: inherit;
    cursor: pointer;
    background-color: #e2ebf2;
    padding: 6px 10px;
    border: none;
}
.slideMenuControls button:hover {
    background-color: #cadae6;
}

.imageDisplayArea {
    transition: 0.3s;
    float: left;
    width: 75%;
    background-color: #f8fafc;
    height: calc(100% - 84px) ;
}

.optionsDisplayArea {
    float: left;
    width: 75%;
    background-color: #d5e7f5;
    height: calc(100% - 84px);
    position: relative;
    transition: 0.3s;
    justify-content: center;
}

.optionsDisplayArea .optionsArea, .fullWindowDescription .optionsArea{
    border: 4px #62a7d9 solid;
    background-color: #f8fafc;
    margin: 2%;
    margin-top: 50px;

    display: flex;
    flex-direction: column;
    width: 100%;
    overflow-y: auto;
}

.optionsDisplayArea .optionsArea .titles, .fullWindowDescription .optionsArea .titles {
    text-align: center;
    background-color: #62a7d9;
    padding: 1% 0px;
}

.optionsDisplayArea .optionsArea .text, .fullWindowDescription .optionsArea .text {
    margin-top: 1%;
    margin-left: 2%;
    margin-bottom: 1%;
}

.closeOptionsButton {
    transition: 0.3s;
    opacity: 0.5;
    font-size: 36px;
    position: absolute;
    top: 0px;
    right: 25px;
    background: none;
    border: none;
    cursor: pointer;
    color: black;
    padding: 0px 10px;
    margin: 0px;
}
.closeOptionsButton:hover{
    opacity: 0.9;
}

.imageAndVideo {
    overflow-y: auto;
   /* background-color: rgb(153, 224, 83);*/
    height: 100%;
    max-width: 100%;
    overflow-y: auto;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    cursor: pointer;
}

.imageAndVideo .theImage{
    max-width: 100%; 
    max-height: 100%;
    cursor: pointer;
}
.imageAndVideo .theVideo{
    max-width: 100%; 
    max-height: 100%; 
}

.settingsAndInfo {
    transition: 0.3s;
    float: left;
    width: 25%;
    background-color: #d5e7f5;
    height: calc(100% - 84px);
    overflow-y: auto;
}

.settingsAndInfo .slideMenuArea {
    background-color: #d5e7f5;
}

.settingsAndInfo .slideMenuArea a {
    text-decoration: none;
}

.settingsAndInfo .slideMenuArea footer{
    position: fixed;
    bottom: 0px;
    background-color: lawngreen;
    width: 100%;
}

.settingsAndInfo .slideMenuArea .randomButton {
    font-size: 28px;
    background-color: #62a7d9;
    color: white;
    text-align: center;
    padding: 10px 10px;
    cursor: pointer;
    margin: 14px;
}

.settingsAndInfo .slideMenuArea .optionsButton {
    font-size: 28px;
    background-color: #5bc8b6;
    color: white;
    text-align: center;
    padding: 10px 10px;
    cursor: pointer;
    margin: 14px;
}

.settingsAndInfo .slideMenuArea .randomButton:hover {
    background-color: #419cd9;
}

.settingsAndInfo .slideMenuArea .optionsButton:hover {
    background-color: #34b7a1;
}

.settingsAndInfo .slideMenuArea .slideMenuTopMenu {
    background-color: #62a7d9;;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    position: sticky;
    top: 0;
    box-shadow: 0px -12px 18px 7px;
}

.settingsAndInfo .slideMenuArea .slideMenuTopMenu button {
    background-color: #62a7d9;
    color: white;
    font-size: inherit;
    cursor: pointer;
    border: none;
    padding: 10px 5px;
    flex-grow: 2;
}

.settingsAndInfo .slideMenuArea .slideMenuTopMenu button:hover {
    background-color: #3d92d0;
}

.settingsAndInfo .slideMenuArea .slideMenuTopMenu .pageSelector{
    background-color: #62a7d9;
    display: flex;
    flex-grow: 2;
}

.settingsAndInfo .slideMenuArea .slideMenuTopMenu .pageSelector button{
    background-color: #62a7d9;
    font-size: inherit;
    cursor: pointer;
    border: none;
    padding: 10px 15px;
    color: black;
}
.settingsAndInfo .slideMenuArea .slideMenuTopMenu .pageSelector button:hover {
    background-color: #3d92d0;
}

.settingsAndInfo .slideMenuArea .slideMenuTopMenu .pageSelector div{
    padding: 0px 20px;
    text-align: center;
}

.settingsAndInfo .slideMenuArea .filtersArea .info {
    margin: 14px;
    margin-bottom: 36px;
}
.settingsAndInfo .slideMenuArea .filtersArea .titles1 {
    margin-top: 10px;
    padding: 2px 10px;
    background-color: #62a7d9;
    color: white;
    text-align: center;
}

.settingsAndInfo .slideMenuArea .filtersArea .titles2 {
    margin-top: 10px;
    padding: 6px;
    background-color: #62a7d9;
    color: white;
    text-align: center;
}

.settingsAndInfo .slideMenuArea .filtersArea .yourTagArea {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 50px;
}

.settingsAndInfo .slideMenuArea .filtersArea .tag {
    padding: 0px 5px;
    overflow-wrap: break-word;
    margin: 0px 10px;
    min-width: 0;
}

.settingsAndInfo .slideMenuArea .filtersArea .tagButton {
    display: flex;
    align-items: center;
    background-color: #d0e29c;
    border:1px solid #b3cf5d;
    color: #6f8f0e;
    width: max-content;
    margin: 3px 3px;
    min-width: 0;
    border-radius: 100px;
}

.settingsAndInfo .slideMenuArea .filtersArea .tagButton button {
    padding: 6px 10px;
    background-color: #b3cf5d;
    border: none;
    border-radius: 100px;
}

.settingsAndInfo .slideMenuArea .filtersArea .tagButton button:hover {
    background-color: #9dc12e;
    cursor: pointer;
}

.settingsAndInfo .slideMenuArea .filtersArea .filterImageSearch {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 15px 0px;
    flex-wrap: wrap;
    align-items: baseline;
}

.settingsAndInfo .slideMenuArea .filtersArea .filterImageSearch div{
    margin-left: 4px;
}
.settingsAndInfo .slideMenuArea .filtersArea .filterTagsArea {
    width: 95%;
    resize: none;
    height: 100px;
    border: none;
}
.settingsAndInfo .slideMenuArea .filtersArea .inputs {
    display: flex;
    justify-content: center;
    margin: 10px 0px;
    flex-wrap: wrap;
    align-items: baseline;
}

.settingsAndInfo .slideMenuArea .descriptionArea {
    margin-bottom: 36px;
}

.settingsAndInfo .slideMenuArea .descriptionArea .titles{
    margin-top: 10px;
    padding: 2px 10px;
    background-color: #62a7d9;
    color: white;
    margin-bottom: 3px;
}

.settingsAndInfo .slideMenuArea .descriptionArea .text{
    margin: 5px 5px;
    word-wrap: break-word;
}

.settingsAndInfo .slideMenuArea .descriptionArea .currentImageTags {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 0px;
}

.settingsAndInfo .slideMenuArea .descriptionArea .currentImageTags .addTagButton {
    display: flex;
    align-items: center;
    background-color: #d0e29c;
    border:1px solid #b3cf5d;
    color: #6f8f0e;
    width: max-content;
    margin: 3px 3px;
    min-width: 0;
    border-radius: 100px;
}

.settingsAndInfo .slideMenuArea .descriptionArea .currentImageTags .addTagButton button {
    padding: 6px 10px;
    background-color: #b3cf5d;
    border: none;
    border-radius: 100px;
}

.settingsAndInfo .slideMenuArea .descriptionArea .currentImageTags .addTagButton button:hover {
    background-color: #9dc12e;
    cursor: pointer;
}

.settingsAndInfo .slideMenuArea .descriptionArea .currentImageTags .imgTag {
    padding: 0px 5px;
    overflow-wrap: break-word;
    margin: 0px 10px;
    min-width: 0;
}

.settingsAndInfo .slideMenuArea .commentsArea {
    font-size: 18px;
    margin-bottom: 0px;
}

.settingsAndInfo .slideMenuArea .commentsArea .theComments .user {
    background-color:#62a7d9;
    margin: 9px 12px 0px 12px;
    color:white;
    padding-left: 16px;
    padding-bottom: 1px;
    overflow-wrap: break-word;
}

.settingsAndInfo .slideMenuArea .commentsArea .theComments .comment {
    background-color:#ffffff;
    margin: 0px 12px;
    padding-left: 8px;
    padding-bottom: 5px;
    margin-bottom: 18px;
    overflow-wrap: break-word;
}

.commentProfilePic{
    height: 25px;
    padding-top: 4px; 
}

.settingsAndInfo .slideMenuArea .imageHistoryArea div{
    padding-top: 7px;
    text-align: center;
    padding-bottom: 10px;
}

.settingsAndInfo .slideMenuArea .imageHistoryArea a{
    align-self: center;
    padding-left: 10px;
}

.historyStyle {
    display: flex;
    justify-content: center;
}

/*#419cd9*/

@media screen and (max-width: 1488px) {
    
    .settingsAndInfo {
        height: calc(100% - 84px);
    }

    .imageDisplayArea, .optionsDisplayArea {
        height: calc(100% - 84px);
    }
    
    .settingsAndInfo .slideMenuArea .randomButton, .settingsAndInfo .slideMenuArea .optionsButton {
        font-size: 18px;
    }

    .settingsAndInfo .slideMenuArea .commentsArea{
        font-size: 16px;
    }
}

@media screen and (max-width: 953px) {
    .imageDisplayArea, .optionsDisplayArea {
        height: calc(100% - 106px);
    }
    .settingsAndInfo {
        height: calc(100% - 106px);
    }
}

@media screen and (max-width: 778px) {
    .imageNumberSearch{
        font-size: inherit;
    }
    .dBImage{
        width: 8px;
    }
    /*
    .settingsAndInfo {
        height: calc(100% - 43px);
    }
    */
    .imageDisplayArea, .optionsDisplayArea {
        height: calc(100% - 55px);
    }
    
    .settingsAndInfo {
        height: calc(100% - 55px);
    }

    .settingsAndInfo .slideMenuArea .randomButton, .settingsAndInfo .slideMenuArea .optionsButton {
        font-size: 9px;
    }
    .settingsAndInfo .slideMenuArea .commentsArea{
        font-size: 6px;
    }
    body, html {
        font: 8px 'Open Sans', sans-serif;
    }

    input, select{
        font-size: inherit;
    }

    .settingsAndInfo .slideMenuArea .descriptionArea .currentImageTags .addTagButton {
        margin: 3px 1px;
    }
    
    .settingsAndInfo .slideMenuArea .descriptionArea .currentImageTags .addTagButton button {
        font-size: inherit;
        padding: 2px 5px;
    }

    .settingsAndInfo .slideMenuArea .filtersArea .filterImageSearch button {
        font-size: inherit;
    }
    .settingsAndInfo .slideMenuArea .filtersArea .tagButton button {
        font-size: inherit;
        padding: 2px 5px;
    }
    .settingsAndInfo .slideMenuArea .slideMenuTopMenu button {
        padding: 3px 5px;
    }
    .settingsAndInfo .slideMenuArea .slideMenuTopMenu .pageSelector button{
        padding: 3px 10px;
    }
    .settingsAndInfo .slideMenuArea .slideMenuTopMenu .pageSelector div{
        padding: 0px 10px;
    }
    .commentProfilePic{
        height: 15px; 
        padding-top: 3px; 
    }

    .settingsAndInfo .slideMenuArea .commentsArea .theComments .user {
        margin: 3px 6px 0px 6px;
        padding-left: 3px;
        padding-bottom: 1px;
    }

    .settingsAndInfo .slideMenuArea .commentsArea .theComments .comment {
        margin: 0px 6px;
        padding-left: 4px;
        padding-bottom: 5px;
        margin-bottom: 3px;
    }
    .basicPictureInfo div {
        /*margin: 4px 14px 0px 14px;*/
        padding: 0px 2px;
    }
    .topBar .topBarButton {

        padding: 4px 8px 4px 8px;
    }    
}

@media screen and (max-width: 512px){
    .imageDisplayArea, .optionsDisplayArea {
        height: calc(100% - 64px);
    }
    .settingsAndInfo {
        height: calc(100% - 64px);
    }
}

#selectFilterArea a{
	margin-left: 5px;
	font-size: inherit;
}

.fullWindowImage{
    height: 100%;
    float: left;
    background-color: #f8fafc;
}

.fullWindowDescription {
    height: 100%;
    float: left;
    background-color: #d5e7f5;
}