body, html {
    font: 18px 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100%;
    background-color: #e2ebf2;
}

.topBar {
    float: left;
    width: 100%;
    background-color: #3d92d0;
    /*height: 36px;*/
    display: flex;
    justify-content: space-between;
}

.topBar a {
    text-decoration: none;
}

.topBar .topBarText {
    color: white;
    /*! padding: 6px 0px 0px 0px; */
}

.topBar .topBarButton {
    font: inherit;
    padding: 6px;
    width: max-content;
    cursor: pointer;
    color: white;
    background-color: #3d92d0;
}

.topBar .topBarButton:hover {
    padding-top: 6px;
    padding-left: 6px;
    background-color: #2d80bc;
}

.imageDisplayArea {
    transition: 0.3s;
    float: left;
    width: 75%;
    background-color: #f8fafc;
    height: calc(100% - 68px);
}

.basicPictureInfo {
    float: left;
    background-color:#e2ebf2;
    /*height: 32px;*/
    display: flex;
    justify-content: center;
    width: 75%;
    padding-bottom: 4px;
}
.basicPictureInfo div {
margin: 4px 14px 0px 14px;
}

.slideMenuControls {
    background-color: #e2ebf2;
    float: left;
    width: 25%;
    height: ;
    display: flex;
}
.slideMenuControls div {
    display: flex;
    justify-content: flex-end;
    flex-direction: row-reverse;
}

.slideMenuControls button {
    font-size: inherit;
    cursor: pointer;
    background-color: #e2ebf2;
    padding:4px 30px;
    border: none;
}
.slideMenuControls button:hover {
    background-color: #cadae6;
}

.imageDisplayArea .imageAndVideo{
    overflow-y: auto;
   /* background-color: rgb(153, 224, 83);*/
    height: 100%;
    max-width: 100%;
    overflow-y: auto;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.settingsAndInfo {
    transition: 0.3s;
    float: left;
    width: 25%;
    background-color: #d5e7f5;
    height: calc(100% - 68px);
}

.settingsAndInfo .slideMenuArea {
    background-color: #d5e7f5;
}

.settingsAndInfo .slideMenuArea a {
    text-decoration: none;
}

.settingsAndInfo .slideMenuArea .randomButton {
    font-size: 28px;
    background-color: #62a7d9;
    color: white;
    text-align: center;
    padding: 10px 10px;
    cursor: pointer;
    margin: 14px;
}
.settingsAndInfo .slideMenuArea .randomButton:hover {
    background-color: #419cd9;
}

.settingsAndInfo .slideMenuArea .slideMenuTopMenu {
    background-color: #62a7d9;;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.settingsAndInfo .slideMenuArea .slideMenuTopMenu button {
    background-color: #62a7d9;
    color: white;
    font-size: inherit;
    cursor: pointer;
    border: none;
    padding: 10px;
    flex-grow: 2;
}

.settingsAndInfo .slideMenuArea .slideMenuTopMenu button:hover {
    background-color: #3d92d0;
}

.settingsAndInfo .info {
    margin: 14px;
}


/*#419cd9*/
@media screen and (max-width: 1280px){
    .settingsAndInfo {
        height: calc(100% - 90px);
    }

    .imageDisplayArea {
        height: calc(100% - 90px);
    }
}
@media screen and (max-width: 1080px){
    .settingsAndInfo {
        height: calc(100% - 112px);
    }

    .imageDisplayArea {
        height: calc(100% - 112px);
    }
}