body{
	background-color:#333;
	color:white;
}

div.ex1{
	width: 1980px;
	background-color:#000;
}

table{
	border: 1px solid;
	border-spacing: 2px;
	padding: 5px;
	font-size: 30px;
}
td{
	 
	border: 1px solid;
	border-spacing: 2px;
	padding-left: 10px;
	padding-right: 10px;
	font-size: 18px;
	height: 32px;
}

.BandResistor_Hidden{
	display: none;
}
.BandResistor_Visible{
	display: inline;
}

.results{
	border: 1px solid;
	width: 400px;
	padding-left:10px;
	}