body{
	background-color:#333;
	color:white;
	font-family: 'Open Sans', sans-serif;
}

div.ex1{
	width: 1980px;
	background-color:#000;
}

table{
	border: 1px solid black;
	border-spacing: 2px;
	padding: 5px;
	font-size: 30px;
}

.resistor-row-dark td {
	color: white;
}

td{
	 
	border: 1px solid black;
	border-spacing: 2px;
	padding-left: 10px;
	padding-right: 10px;
	font-size: 18px;
	height: 32px;
}

.bandResistor_Hidden{
	display: none;
}
.bandResistor_Visible{
	display: flex;
	flex-flow: row nowrap;
}

.bandResistor_Visible > * {
	flex: 0 1 auto;
}

.results{
	border: 1px solid;
	width: 400px;
	padding-left:10px;
	}