html {
	font: 24px 'Open Sans', sans-serif;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.header{
	padding:    20px;
	text-align: center;
}

.leftColumn{
	float:left;
	width: 20%;
	background-color: #dedede;
	height: 100%;
}

.middleColumn{
	float: left;
	width: 60%;
}

.rightColumn {
	float: left;
	width: 20%;
	background-color: #dedede;
	height: 100%;
}

.searchBar {
	background-color: #efefef;
}

.card {
	background-color: #efefef;
	/* height: 100%; */
}

.card ul {
	text-align:center;
}

.game {
	background-color: #b3b3b3;
	width: max-content;
	margin: 0 auto;
}

.titles {
	background-color: #a0a0a0;
	 margin: 24px 0;
	padding: 6px;
}

.links {
	margin: 24px;
	background-color: #cfcfcf;
}

.websiteIcon {
	width: 96px;
}

.tile {
	width: max-content;
	padding: 20px;
}

.links ul li {
	display: inline-block;
}

@media screen and (max-width: 1432px) {
	.game {
		background-color :#b3b3b3;
		width: auto;
		margin: 0 auto;
	}
}