html {
	font: 18px 'Open Sans', sans-serif;
}


.leftColumn{
	float: left;
	width: 70%;
	background-color: #dedede;
	height: 100%;
	overflow-y: auto;
}


.rightColumn{
	float: left;
	width: 30%;
	background-color: #939393;	
	height: 100%;
	overflow-y: auto;
}

#picture {
	display: block;
	width: 100%;
	margin: 0px auto; 
}

.picturePlaceHolder{
	width: 95%;
	max-height: 50%;
	background-color: #efefef;
	margin: 20px auto;
	overflow-y: auto;
	overflow-x: auto;	
}

.pictureCredits{
	display: flex;
	width:95%;
	margin: 15px auto;
	justify-content: center;
}

.pictureCredits_hidden{
	display: none;
}

.filterTextArea{
	display: block;
	width: 100%;
	height: 100px;
	margin: 0px auto;
	resize: none;
}

.filterSpace{
	width: 94%;
	margin: auto;
	/* background-color: #b5b5b5; */
}

#selectFilterArea a{
	margin-left: 5px;
	font-size: 20px;
}

.explanationText{
	font: 14px 'Open Sans', sans-serif;
}

.drawingArea {
	width: 80%;
	height: 700px;
	border: 1px solid #000;
	display: block;
	margin: 50px auto;
}

.timer{
	height: 100px;
	background-color: #595959;
	color: white;
}



