html {
	font: 18px 'Open Sans', sans-serif;
}

button, select {
	cursor: pointer;
}

.sidePanel0 {
	position: fixed;
	top: 0px;
	left: 0px;
	height: 100%;
	width: 0px;
	z-index: 1;
	background-color: #222;
	overflow-y: auto;
	transition: 0.4s;

}
.sidePanel0 p {
	color: white;
	font-size: 25px;
	text-align: center;
	padding-top: 40px;
}

.sidePanel0 a {
	color: white;
	padding-bottom: 35px;
}

.sidePanel0 .imageSaveArea {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.sidePanel0 .closeButton {
	position: absolute;
	top: 0;
	right: 25px;
	font-size: 36px;
	text-decoration: none;
	color: white;
}

.drawingFunctions{
	float: left;
	width: 12%;
	height: 100%;
	background-color: #e9e9e9;
	display: flex;
	flex-direction: column;
}

.drawingFunctions .openSidePanelButton{
	cursor: pointer;
	color: white;
	font-size: 18px;
	background-color: #111;
	padding: 10px 10px;
	border: none;
	width: 100%;
}

.drawingFunctions .functionsButtonOne{
	display: flex;
	justify-content: center;
	margin: 14px;
}


.leftColumn{
	float: left;
	width: 58%;
	background-color: #dedede;
	height: 100%;
	overflow-y: auto;
}

.leftColumn div{
	display: flex;
	justify-content: center;
}

.leftColumn .drawingArea {
	border: 1px solid #000;
	margin: 4% 3%; 
}

.rightColumn{
	float: left;
	width: 30%;
	background-color: #939393;	
	height: 100%;
	overflow-y: auto;
}

.rightColumn .picturePlaceHolder{
	width: 95%;
	max-height: 50%;
	background-color: #efefef;
	margin: 20px auto;
	overflow-y: auto;
	overflow-x: auto;	
}
.rightColumn .picturePlaceHolder #picture {
	display: block;
	width: 100%;
	margin: 0px auto; 
}

.rightColumn .pictureCredits{
	display: flex;
	width:95%;
	margin: 15px auto;
	justify-content: center;
}

.rightColumn .pictureCredits_hidden{
	display: none;
}

.rightColumn .filterSpace{
	width: 94%;
	margin: auto;
	/* background-color: #b5b5b5; */
}

.rightColumn .filterSpace .filterTextArea{
	display: block;
	width: 100%;
	height: 100px;
	margin: 0px auto;
	resize: none;
}

.rightColumn .filterSpace #selectFilterArea a{
	margin-left: 5px;
	font-size: 20px;
}

.rightColumn .filterSpace .explanationText{
	font: 14px 'Open Sans', sans-serif;
}


.rightColumn .timer{
	height: 100px;
	background-color: #595959;
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	position: sticky;
	top: 0;
}
.rightColumn .timer .timerHand{
	display: flex;
	flex-direction: column;
}

.rightColumn .timer .timerHand .timeInputs{
	text-align: center;
	font-size: 100%;
	border: none;
	margin: 4px auto;
	width: 30px;
}

.rightColumn .timer .timerHand button {
	margin:0px 5px;
}


